Importación de Librerias

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Cargar los datos (Codificación del CSV latin1)

In [2]:
df = pd.read_csv('biblioteca_directorio.csv', encoding='latin1')

Imprimir las primeras 5 filas para observar el formato del CSV

In [3]:
print(df.head())

   otra_bib_id                                    otra_bib_nombre  \
0         8979          Biblioteca Hispano-Mexicana Carlos Prieto
1         8211             Biblioteca Miguel Ángel Barberena Vega
2          122  Biblioteca Lic. Carlos Alva Martínez          ...
3         8221  Biblioteca de la Universidad Panamericana, Cam...
4          117  Centro de Información Bibliográfica de la Univ...

  otra_bib_fecha_fundacion                             otra_bib_adscripcion  \
0               2006-04-17                                 Asociación Civil
1               1000-01-01                              Gobierno del Estado
2               1000-01-01                                       Particular
3               1000-01-01                                       Particular
4               1000-01-01  Secretaría de Educación del Gobierno del Estado

   estado_id         nom_ent  municipio_id         nom_mun  localidad_id  \
0          0  Total nacional             0  Total nacional             0
1          1  Aguascalientes             1  Aguascalientes             1
2          1  Aguascalientes             1  Aguascalientes             1
3          1  Aguascalientes             1  Aguascalientes             1
4          1  Aguascalientes             1  Aguascalientes             1

          nom_loc                              otra_bib_calle_numero  \
0  Total nacional                                  I. la Católica 29
1  Aguascalientes                          Av. Paseo de la Cruz 904
2  Aguascalientes  Av. Esfuerzo Nacional 612                     ...
3  Aguascalientes                  Josemaría Escrivá de Balaguer 101
4  Aguascalientes  Blvd. Juan Pablo II 1302                      ...

                                    otra_bib_colonia otra_bib_cp  \
0                                   Centro Histórico         NaN
1                               Fracc. IV Centenario       20260
2               Fracc. Ojocaliente IV                      20197
3                                Villas de Bonaterra       20296
4  Fracc. Ex Hacienda La Cantera                 ...       20206

   otra_bib_telfono1  otra_bib_pagina_web  gmaps_longitud  gmaps_latitud  \
0                NaN                  NaN       -99.13652       19.43290
1                NaN                  NaN      -102.28078       21.87274
2                NaN                  NaN      -102.26170       21.89366
3                NaN                  NaN      -102.28304       21.82330
4                NaN                  NaN      -102.34638       21.82106

                                            link_sic               fecha_mod
0  http://sic.gob.mx/ficha.php?table=otra_bib&tab...  2025-01-28 12:51:43-06
1  http://sic.gob.mx/ficha.php?table=otra_bib&tab...  2023-01-18 05:48:15-06
2  http://sic.gob.mx/ficha.php?table=otra_bib&tab...  2023-01-18 05:44:04-06
3  http://sic.gob.mx/ficha.php?table=otra_bib&tab...  2024-02-02 05:34:19-06
4  http://sic.gob.mx/ficha.php?table=otra_bib&tab...  2022-11-29 07:39:12-06

Imprimir las ultimas 5 filas para observar el formato del CSV

In [4]:
print(df.tail())

      otra_bib_id                                    otra_bib_nombre  \
1320         8788  Biblioteca y Centro de Documentación Mercedes ...
1321         6866                                Biblioteca del Cren
1322         6863           Biblioteca de la Facultad de Humanidades
1323         6862            Biblioteca de la Facultad de Psicología
1324         8462  Casa de la Cultura Jurídica Roque Estrada Reynoso

     otra_bib_fecha_fundacion  \
1320               2001-09-08
1321               1000-01-01
1322               1000-01-01
1323               1000-01-01
1324               1000-01-01

                                   otra_bib_adscripcion  estado_id    nom_ent  \
1320           Museo de Arte Abstracto Manuel Felguérez         32  Zacatecas
1321  Universidad Autónoma de Zacatecas (UAZ) Franci...         32  Zacatecas
1322  Universidad Autónoma de Zacatecas (UAZ) Franci...         32  Zacatecas
1323  Universidad Autónoma de Zacatecas (UAZ) Franci...         32  Zacatecas
1324             Suprema Corte de Justicia de la Nación         32  Zacatecas

      municipio_id    nom_mun  localidad_id    nom_loc  \
1320            56  Zacatecas             1  Zacatecas
1321            56  Zacatecas             1  Zacatecas
1322            56  Zacatecas             1  Zacatecas
1323            56  Zacatecas             1  Zacatecas
1324            56  Zacatecas             1  Zacatecas

                              otra_bib_calle_numero  \
1320  Cristóbal Colon, s/n, esq. 1ra. del Seminario
1321                            Av. Universidad s/n
1322                       Unidad Universitaria s/n
1323     Unidad Universitaria s/n
1324                              Genaro Codina 613

                      otra_bib_colonia otra_bib_cp  otra_bib_telfono1  \
1320                            Centro       98000                NaN
1321              Ciudad Universitaria       98000                NaN
1322  Col. Franja de Calz. Universidad       98060                NaN
1323  Col. Franja de Calz. Universidad       98000                NaN
1324                  Centro Histórico       98000                NaN

      otra_bib_pagina_web  gmaps_longitud  gmaps_latitud  \
1320                  NaN      -102.57184       22.77610
1321                  NaN         0.00000        0.00000
1322                  NaN         0.00000        0.00000
1323                  NaN         0.00000        0.00000
1324                  NaN      -102.57265       22.77716

                                               link_sic  \
1320  http://sic.gob.mx/ficha.php?table=otra_bib&tab...
1321  http://sic.gob.mx/ficha.php?table=otra_bib&tab...
1322  http://sic.gob.mx/ficha.php?table=otra_bib&tab...
1323  http://sic.gob.mx/ficha.php?table=otra_bib&tab...
1324  http://sic.gob.mx/ficha.php?table=otra_bib&tab...

                   fecha_mod
1320  2018-12-18 08:13:02-06
1321  2021-03-16 05:50:38-06
1322  2021-03-16 05:42:03-06
1323  2021-03-16 05:41:21-06
1324  2021-03-31 07:19:29-06

Imprimir las columnas del CSV con su respectivo tipo de dato

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1325 entries, 0 to 1324
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   otra_bib_id               1325 non-null   int64
 1   otra_bib_nombre           1324 non-null   object
 2   otra_bib_fecha_fundacion  1325 non-null   object
 3   otra_bib_adscripcion      1275 non-null   object
 4   estado_id                 1325 non-null   int64
 5   nom_ent                   1325 non-null   object
 6   municipio_id              1325 non-null   int64
 7   nom_mun                   1325 non-null   object
 8   localidad_id              1325 non-null   int64
 9   nom_loc                   1325 non-null   object
 10  otra_bib_calle_numero     1319 non-null   object
 11  otra_bib_colonia          1231 non-null   object
 12  otra_bib_cp               1306 non-null   object
 13  otra_bib_telfono1         0 non-null      float64
 14  otra_bib_pagina_web       0 non-null      float64
 15  gmaps_longitud            1325 non-null   float64
 16  gmaps_latitud             1325 non-null   float64
 17  link_sic                  1325 non-null   object
 18  fecha_mod                 1325 non-null   object
dtypes: float64(4), int64(4), object(11)
memory usage: 196.8+ KB
None

Visualizar los valores unicos por columna

In [ ]:
print("Valores únicos por columna:")
print(df.nunique())

Valores únicos por columna:
otra_bib_id                 1325
otra_bib_nombre             1302
otra_bib_fecha_fundacion     340
otra_bib_adscripcion         384
estado_id                     33
nom_ent                       33
municipio_id                 119
nom_mun                      255
localidad_id                  51
nom_loc                      297
otra_bib_calle_numero       1265
otra_bib_colonia             788
otra_bib_cp                  757
otra_bib_telfono1              0
otra_bib_pagina_web            0
gmaps_longitud              1012
gmaps_latitud               1012
link_sic                    1325
fecha_mod                   1325
dtype: int64

Filtramos el DataFrame con el estado que nos interesa

In [7]:
df = df[df['estado_id'] == 15]

Reiniciar índice del DataFrame resultante

In [8]:
df = df.reset_index(drop=True)

Verificar los registros del CSV actualizado

In [9]:
print(df.head())

   otra_bib_id                                    otra_bib_nombre  \
0         4957  Biblioteca del Centro de Maestros de Chiautla ...
1         8958                          Biblioteca Cristina Payán
2         7247  Biblioteca del Centro de Enseñanza, Inv. y Ext...
3         1920  Biblioteca campus Lomas Verdes                ...
4         8738  Biblioteca de la Escuela Superior de Ingenierí...

  otra_bib_fecha_fundacion             otra_bib_adscripcion  estado_id  \
0               1000-01-01   SECRETARIA DE EDUCACION PUBLIC         15
1               1994-01-01       Secretaría de Cultura/INAH         15
2               2006-01-01                             UNAM         15
3               1000-01-01  Universidad del Valle de México         15
4               1000-01-01                              IPN         15

  nom_ent  municipio_id              nom_mun  localidad_id  \
0  México            28             Chiautla             1
1  México            33  Ecatepec de Morelos             1
2  México            45            Jilotepec             1
3  México            57  Naucalpan de Juárez             1
4  México            57  Naucalpan de Juárez             1

                        nom_loc  \
0                      Chiautla
1           Ecatepec de Morelos
2  Jilotepec de Molina Enríquez
3           Naucalpan de Juárez
4           Naucalpan de Juárez

                               otra_bib_calle_numero  \
0  5 Pte y Av. 5 de Mayo 12                      ...
1           Antigua Carr. México-Pachuca s/n km 23.5
2                     Km. 2 Carr. Jilotepec-Corrales
3                               Paseo de las Aves  1
4                        Av. Fuente de los Leones 28

                                    otra_bib_colonia otra_bib_cp  \
0                                                          74730
1                           Col. San Juan Acalhuacan       55040
2                            Col. La Dalia Jilotepec       54240
3          Col. San Mateo Nopala                 ...       53220
4                                                NaN       53760

   otra_bib_telfono1  otra_bib_pagina_web  gmaps_longitud  gmaps_latitud  \
0                NaN                  NaN       -98.88279       19.54944
1                NaN                  NaN       -99.03569       19.60030
2                NaN                  NaN       -99.51040       19.95739
3                NaN                  NaN       -99.26304       19.50710
4                NaN                  NaN       -99.22955       19.43019

                                            link_sic               fecha_mod
0  http://sic.gob.mx/ficha.php?table=otra_bib&tab...  2018-02-12 10:50:09-06
1  http://sic.gob.mx/ficha.php?table=otra_bib&tab...  2025-02-13 11:27:05-06
2  http://sic.gob.mx/ficha.php?table=otra_bib&tab...  2020-01-27 04:35:04-06
3  http://sic.gob.mx/ficha.php?table=otra_bib&tab...  2021-03-09 04:20:35-06
4  http://sic.gob.mx/ficha.php?table=otra_bib&tab...  2018-11-06 08:34:18-06

Definimos las columnas del dataset a conservar

In [10]:
columnas_conservar = [
    'otra_bib_id',
    'otra_bib_nombre',
    'municipio_id',
    'nom_mun',
    'gmaps_longitud',
    'gmaps_latitud'
]

Conservamos solo estas columnas

In [11]:
df = df[columnas_conservar]

Reiniciar indice del Dataset resultante

In [12]:
df = df.reset_index(drop=True)

Verificar los registros del CSV actualizado

In [13]:
print(df.head())

   otra_bib_id                                    otra_bib_nombre  \
0         4957  Biblioteca del Centro de Maestros de Chiautla ...
1         8958                          Biblioteca Cristina Payán
2         7247  Biblioteca del Centro de Enseñanza, Inv. y Ext...
3         1920  Biblioteca campus Lomas Verdes                ...
4         8738  Biblioteca de la Escuela Superior de Ingenierí...

   municipio_id              nom_mun  gmaps_longitud  gmaps_latitud
0            28             Chiautla       -98.88279       19.54944
1            33  Ecatepec de Morelos       -99.03569       19.60030
2            45            Jilotepec       -99.51040       19.95739
3            57  Naucalpan de Juárez       -99.26304       19.50710
4            57  Naucalpan de Juárez       -99.22955       19.43019

Observar los datos faltantes por columna del DataFrame

In [14]:
print("Valores faltantes por columna:")
print(df.isnull().sum())

Valores faltantes por columna:
otra_bib_id        0
otra_bib_nombre    0
municipio_id       0
nom_mun            0
gmaps_longitud     0
gmaps_latitud      0
dtype: int64

- Eliminar filas con valores nulos

In [15]:
df = df.dropna()

Observar los datos faltantes por columna del DataFrame

In [16]:
print("Valores faltantes por columna:")
print(df.isnull().sum())

Valores faltantes por columna:
otra_bib_id        0
otra_bib_nombre    0
municipio_id       0
nom_mun            0
gmaps_longitud     0
gmaps_latitud      0
dtype: int64

- Reiniciar índice del DataFrame resultante

In [17]:
df = df.reset_index(drop=True)

- Verificar los registros del CSV actualizado

In [18]:
print(df.head())

   otra_bib_id                                    otra_bib_nombre  \
0         4957  Biblioteca del Centro de Maestros de Chiautla ...
1         8958                          Biblioteca Cristina Payán
2         7247  Biblioteca del Centro de Enseñanza, Inv. y Ext...
3         1920  Biblioteca campus Lomas Verdes                ...
4         8738  Biblioteca de la Escuela Superior de Ingenierí...

   municipio_id              nom_mun  gmaps_longitud  gmaps_latitud
0            28             Chiautla       -98.88279       19.54944
1            33  Ecatepec de Morelos       -99.03569       19.60030
2            45            Jilotepec       -99.51040       19.95739
3            57  Naucalpan de Juárez       -99.26304       19.50710
4            57  Naucalpan de Juárez       -99.22955       19.43019

Guardar el nuevo CSV ya preprocesado

In [19]:
nombre_archivo = 'Biblioteca.csv'
df.to_csv(nombre_archivo, index=False, encoding='utf-8')

print(f"\nArchivo '{nombre_archivo}' guardado exitosamente en el directorio actual!")

Archivo 'Biblioteca.csv' guardado exitosamente en el directorio actual!