Importación de Librerias

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Cargar los datos (Codificación del CSV latin1)

In [2]:
df = pd.read_csv('teatro_directorio.csv', encoding='latin1')

Imprimir las primeras 5 filas para observar el formato del CSV

In [3]:
print(df.head())

   teatro_id                             teatro_nombre teatro_fecha_fundacion  \
0        336                     Teatro de la Alameda              1945-10-01
1        334              Teatro Antonio Leal y Romero             1986-01-01
2         78  Teatro Francisco Gabilondo Soler Cri-Cri             1989-05-24
3        329                            Teatro Morelos             1885-10-25
4        976                        Foro Cultural MUSE             1000-01-01

                                  teatro_adscripcion  estado_id  \
0              Gobierno del Estado de Aguascalientes          1
1               Instituto Cultural de Aguascalientes          1
2  Gobierno del Estado de Aguascalientes/Secretar...          1
3               Instituto Cultural de Aguascalientes          1
4                                                NaN          1

          nom_ent  municipio_id         nom_mun  localidad_id         nom_loc  \
0  Aguascalientes             1  Aguascalientes             1  Aguascalientes
1  Aguascalientes             1  Aguascalientes             1  Aguascalientes
2  Aguascalientes             1  Aguascalientes             1  Aguascalientes
3  Aguascalientes             1  Aguascalientes             1  Aguascalientes
4  Aguascalientes             1  Aguascalientes             1  Aguascalientes

   ...                                           facebook     twitter  \
0  ...                                                NaN         NaN
1  ...  https://www.facebook.com/InstitutoCulturaldeAg...  CulturaAgs
2  ...                                                NaN         NaN
3  ...                                                NaN         NaN
4  ...  https://es-la.facebook.com/pg/FOROMUSE/about/?...         NaN

                                instagram  \
0                                     NaN
1  https://www.instagram.com/ica_cultura/
2                                     NaN
3                                     NaN
4                                     NaN

                                               email gmaps_longitud  \
0        alejandrina.rodriguez@aguascalientes.gob.mx     -102.27296
1                         josereynosomtz@hotmail.com     -102.29846
2  jorge.villa@aguascalientes.gob.mx; brenda.rodr...     -102.28886
3                          informacion.ica@gmail.com     -102.29702
4  foromuseoescarcega@gmail.com; ricardo.gestionc...     -102.28568

  gmaps_latitud teatro_aforo teatro_tipo_escenario  \
0      21.88444          396              italiano
1      21.88049          247              italiano
2      21.85357          248              circular
3      21.88021          351              italiano
4      21.88466            0                   NaN

                                            link_sic               fecha_mod
0  http://sic.gob.mx/ficha.php?table=teatro&table...  2020-10-09 14:17:49-05
1  http://sic.gob.mx/ficha.php?table=teatro&table...  2024-10-04 12:50:19-06
2  http://sic.gob.mx/ficha.php?table=teatro&table...  2020-02-11 05:33:58-06
3  http://sic.gob.mx/ficha.php?table=teatro&table...  2025-04-03 14:11:26-06
4  http://sic.gob.mx/ficha.php?table=teatro&table...  2020-09-24 16:58:36-05

[5 rows x 25 columns]

Imprimir las ultimas 5 filas para observar el formato del CSV

In [4]:
print(df.tail())

     teatro_id                                  teatro_nombre  \
721        531                                Teatro Hinojosa
722        400  Teatro Municipal Licenciado José Minero Roque
723         72                     Teatro Ramón López Velarde
724        235                          Teatro IMSS Zacatecas
725        411                       Teatro Fernando Calderón

    teatro_fecha_fundacion                           teatro_adscripcion  \
721             1878-11-01                Instituto Jerezano de Cultura
722             1954-08-21                                          NaN
723             1976-01-01              Instituto Zacatecano de Cultura
724             1964-01-01  Instituto Mexicano del Seguro Social (IMSS)
725             1897-05-16            Universidad Autónoma de Zacatecas

     estado_id    nom_ent  municipio_id              nom_mun  localidad_id  \
721         32  Zacatecas            20                Jerez             1
722         32  Zacatecas            34  Nochistlán de Mejía             1
723         32  Zacatecas            56            Zacatecas             1
724         32  Zacatecas            56            Zacatecas             1
725         32  Zacatecas            56            Zacatecas             1

                     nom_loc  ...  \
721  Jerez de García Salinas  ...
722      Nochistlán de Mejía  ...
723                Zacatecas  ...
724                Zacatecas  ...
725                Zacatecas  ...

                                              facebook twitter  instagram  \
721                                                NaN     NaN        NaN
722  https://www.facebook.com/p/Teatro-Municipal-Li...     NaN        NaN
723                                                NaN     NaN        NaN
724  https://www.facebook.com/TeatroIMSSZacatecas/?...     NaN        NaN
725  https://www.facebook.com/p/Teatro-Fernando-Cal...     NaN        NaN

                             email gmaps_longitud gmaps_latitud teatro_aforo  \
721  carlos.salinas.09@hotmail.com     -102.99170      22.64943          469
722                            NaN     -102.85006      21.36565            0
723       teatrorlop.izc@gmail.com     -102.57876      22.75701          988
724        ivan.duenez@imss.gob.mx     -102.57879      22.77522          501
725     teatrocalderon@uaz.edu.mx      -102.57329      22.77504          708

    teatro_tipo_escenario                                           link_sic  \
721           rectangular  http://sic.gob.mx/ficha.php?table=teatro&table...
722              italiano  http://sic.gob.mx/ficha.php?table=teatro&table...
723           rectangular  http://sic.gob.mx/ficha.php?table=teatro&table...
724              Italiano  http://sic.gob.mx/ficha.php?table=teatro&table...
725              italiano  http://sic.gob.mx/ficha.php?table=teatro&table...

                  fecha_mod
721  2017-04-08 13:31:44-05
722  2023-07-20 09:17:30-06
723  2023-11-21 08:44:21-06
724  2025-04-22 13:36:50-06
725  2025-05-08 13:19:06-06

[5 rows x 25 columns]

Imprimir las columnas del CSV con su respectivo tipo de dato

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 726 entries, 0 to 725
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   teatro_id               726 non-null    int64
 1   teatro_nombre           726 non-null    object
 2   teatro_fecha_fundacion  726 non-null    object
 3   teatro_adscripcion      650 non-null    object
 4   estado_id               726 non-null    int64
 5   nom_ent                 726 non-null    object
 6   municipio_id            726 non-null    int64
 7   nom_mun                 726 non-null    object
 8   localidad_id            726 non-null    int64
 9   nom_loc                 726 non-null    object
 10  teatro_calle_numero     722 non-null    object
 11  teatro_colonia          715 non-null    object
 12  teatro_cp               712 non-null    float64
 13  teatro_telefono1        691 non-null    object
 14  pagina_web              406 non-null    object
 15  facebook                308 non-null    object
 16  twitter                 67 non-null     object
 17  instagram               59 non-null     object
 18  email                   587 non-null    object
 19  gmaps_longitud          726 non-null    float64
 20  gmaps_latitud           726 non-null    float64
 21  teatro_aforo            726 non-null    int64
 22  teatro_tipo_escenario   501 non-null    object
 23  link_sic                726 non-null    object
 24  fecha_mod               726 non-null    object
dtypes: float64(3), int64(5), object(17)
memory usage: 141.9+ KB
None

Visualizar los valores unicos por columna

In [6]:
print("Valores únicos por columna:")
print(df.nunique())

Valores únicos por columna:
teatro_id                 726
teatro_nombre             690
teatro_fecha_fundacion    532
teatro_adscripcion        504
estado_id                  32
nom_ent                    32
municipio_id               97
nom_mun                   213
localidad_id               14
nom_loc                   222
teatro_calle_numero       684
teatro_colonia            311
teatro_cp                 418
teatro_telefono1          661
pagina_web                394
facebook                  296
twitter                    61
instagram                  55
email                     553
gmaps_longitud            692
gmaps_latitud             687
teatro_aforo              317
teatro_tipo_escenario      23
link_sic                  726
fecha_mod                 726
dtype: int64

Filtramos el DataFrame con el estado que nos interesa

In [7]:
df = df[df['estado_id'] == 15]

Reiniciar índice del DataFrame resultante

In [8]:
df = df.reset_index(drop=True)

Verificar los registros del CSV actualizado

In [9]:
print(df.head())

   teatro_id                            teatro_nombre teatro_fecha_fundacion  \
0       1059       Foro La Esperanza, Casa del Pueblo             2023-02-15
1        263                        Teatro del Pueblo             1951-01-01
2        751  Teatro Auditorio Humberto Vidal Mendoza             2018-11-01
3       1040       Centro de Artes José Pablo Moncayo             1000-01-01
4        730             Teatro del Parque Interlomas             2011-01-01

                                  teatro_adscripcion  estado_id nom_ent  \
0                    Gobierno Municipal de Amecameca         15  México
1                        Ayuntamiento de Atlacomulco         15  México
2                            Escuela de Bellas Artes         15  México
3  Ayuntamiento de Huehuetoca/Dirección de Educac...         15  México
4                                 Theatre Properties         15  México

   municipio_id       nom_mun  localidad_id                    nom_loc  ...  \
0             9     Amecameca             1        Amecameca de Juárez  ...
1            14   Atlacomulco             1      Atlacomulco de Fabela  ...
2            31  Chimalhuacán             1               Chimalhuacán  ...
3            35    Huehuetoca             1                 Huehuetoca  ...
4            37  Huixquilucan             1  Huixquilucan de Degollado  ...

                                            facebook twitter  instagram  \
0                                                NaN     NaN        NaN
1                                                NaN     NaN        NaN
2                                                NaN     NaN        NaN
3  https://www.facebook.com/p/Centro-de-Artes-Hue...     NaN        NaN
4                                                NaN     NaN        NaN

                       email gmaps_longitud gmaps_latitud teatro_aforo  \
0  casadelpueblo63@gmail.com      -98.77551      19.13211          110
1     dif@atlacomulco.gob.mx      -99.87327      19.79862          558
2                        NaN      -98.98445      19.41804          800
3    mayela.marind@gmail.com      -99.21889      19.83381            0
4                        NaN        0.00000       0.00000          695

  teatro_tipo_escenario                                           link_sic  \
0              Italiano  http://sic.gob.mx/ficha.php?table=teatro&table...
1                   NaN  http://sic.gob.mx/ficha.php?table=teatro&table...
2                   NaN  http://sic.gob.mx/ficha.php?table=teatro&table...
3                   NaN  http://sic.gob.mx/ficha.php?table=teatro&table...
4              italiano  http://sic.gob.mx/ficha.php?table=teatro&table...

                fecha_mod
0  2025-05-19 12:35:37-06
1  2017-07-12 13:57:02-05
2  2021-01-25 09:18:21-06
3  2024-07-29 10:54:50-06
4  2021-11-29 03:41:14-06

[5 rows x 25 columns]

Definimos las columnas del dataset a conservar

In [10]:
columnas_conservar = [
    'teatro_id',
    'teatro_nombre',
    'municipio_id',
    'nom_mun',
    'gmaps_longitud',
    'gmaps_latitud'
]

Conservamos solo estas columnas

In [11]:
df = df[columnas_conservar]

Reiniciar indice del Dataset resultante

In [12]:
df = df.reset_index(drop=True)

Verificar los registros del CSV actualizado

In [13]:
print(df.head())

   teatro_id                            teatro_nombre  municipio_id  \
0       1059       Foro La Esperanza, Casa del Pueblo             9
1        263                        Teatro del Pueblo            14
2        751  Teatro Auditorio Humberto Vidal Mendoza            31
3       1040       Centro de Artes José Pablo Moncayo            35
4        730             Teatro del Parque Interlomas            37

        nom_mun  gmaps_longitud  gmaps_latitud
0     Amecameca       -98.77551       19.13211
1   Atlacomulco       -99.87327       19.79862
2  Chimalhuacán       -98.98445       19.41804
3    Huehuetoca       -99.21889       19.83381
4  Huixquilucan         0.00000        0.00000

Observar los datos faltantes por columna del DataFrame

In [14]:
print("Valores faltantes por columna:")
print(df.isnull().sum())

Valores faltantes por columna:
teatro_id         0
teatro_nombre     0
municipio_id      0
nom_mun           0
gmaps_longitud    0
gmaps_latitud     0
dtype: int64

- Eliminar filas con valores nulos

In [15]:
df = df.dropna()

Observar los datos faltantes por columna del DataFrame

In [16]:
print("Valores faltantes por columna:")
print(df.isnull().sum())

Valores faltantes por columna:
teatro_id         0
teatro_nombre     0
municipio_id      0
nom_mun           0
gmaps_longitud    0
gmaps_latitud     0
dtype: int64

- Reiniciar índice del DataFrame resultante

In [17]:
df = df.reset_index(drop=True)

- Verificar los registros del CSV actualizado

In [18]:
print(df.head())

   teatro_id                            teatro_nombre  municipio_id  \
0       1059       Foro La Esperanza, Casa del Pueblo             9
1        263                        Teatro del Pueblo            14
2        751  Teatro Auditorio Humberto Vidal Mendoza            31
3       1040       Centro de Artes José Pablo Moncayo            35
4        730             Teatro del Parque Interlomas            37

        nom_mun  gmaps_longitud  gmaps_latitud
0     Amecameca       -98.77551       19.13211
1   Atlacomulco       -99.87327       19.79862
2  Chimalhuacán       -98.98445       19.41804
3    Huehuetoca       -99.21889       19.83381
4  Huixquilucan         0.00000        0.00000

Guardar el nuevo CSV ya preprocesado

In [19]:
nombre_archivo = 'Teatro.csv'
df.to_csv(nombre_archivo, index=False, encoding='utf-8')

print(f"\nArchivo '{nombre_archivo}' guardado exitosamente en el directorio actual!")

Archivo 'Teatro.csv' guardado exitosamente en el directorio actual!